:root {
	--pbmit-global-color: #fcc953;
	--pbmit-secondary-color: #341c77;
	--pbmit-light-color: #f8f3eb;
	--pbmit-white-color: #ffffff;
	--pbmit-blackish-color: #181a17;
	--pbmit-blackish-color-rgb: 24, 26, 23;
	--pbmit-link-color-normal: #181a17;
	--pbmit-link-color-hover: #fcc953;
	--pbmit-global-color-rgb: 252, 201, 83;
	--pbmit-secondary-color-rgb: rgb(52, 28, 119);
	--pbmit-responsive-breakpoint: 1200px;

	--pbmit-body-typography-font-family:'Roboto', sans-serif;
	--pbmit-body-typography-variant: regular;
	--pbmit-body-typography-font-size: 16px;
	--pbmit-body-typography-line-height: 1.5;
	--pbmit-body-typography-color: #666666;
	
	--pbmit-heading-typography-font-family:'Sora', sans-serif;
	--pbmit-heading-color: #181a17;
	--pbmit-heading-font-variant: 500;
	
	--pbmit-btn-typography-font-family:'Sora', sans-serif;
	--pbmit-btn-typography-variant: 500;
	--pbmit-btn-typography-font-size: 13px;
	--pbmit-btn-typography-line-height: 23px;
}