

:root {
	--pbmit-global-color: #7ec53e;
	--pbmit-secondary-color: #2c1e0f;
	--pbmit-light-color: #f0f6f2;
	--pbmit-white-color: #ffffff;
	--pbmit-blackish-color: #181a17;
	--pbmit-blackish-bg-color-rgb: 24, 26, 23;
	--pbmit-link-color-normal: #181a17;
	--pbmit-link-color-hover: #7ec53e;
	--pbmit-global-color-rgb: rgb(126, 197, 62);
	--pbmit-secondary-color-rgb: rgb(44, 30, 15);
	--pbmit-responsive-breakpoint: 1200px;

	--pbmit-body-typography-font-family:'Roboto', sans-serif;
	--pbmit-body-typography-variant: regular;
	--pbmit-body-typography-font-size: 16px;
	--pbmit-body-typography-line-height: 26px;
	--pbmit-body-typography-color: #6e778c;

	--pbmit-heading-typography-font-family:'Sora', sans-serif;
	--pbmit-heading-color: #181a17;
	--pbmit-heading-font-variant: 500;
	
	--pbmit-btn-typography-font-family:'Sora', sans-serif;
	--pbmit-btn-typography-variant: 500;
	--pbmit-btn-typography-font-size: 13px;
	--pbmit-btn-typography-line-height: 23px;
}

