:root {
	--pbmit-global-color: #06268b;
	--pbmit-secondary-color: #1b99fe;
	--pbmit-light-color: #f0f7fd;
	--pbmit-white-color: #ffffff;
	--pbmit-blackish-color: #031b4e;
	--pbmit-blackish-bg-color-rgb: 3, 27, 78;
	--pbmit-link-color-normal: #031b4e;
	--pbmit-link-color-hover: #06268b;
	--pbmit-global-color-rgb: 6, 38, 139;
	--pbmit-secondary-color-rgb: rgb(27, 153, 254);
	--pbmit-responsive-breakpoint: 1200px;

	--pbmit-body-typography-font-family:'Roboto', sans-serif;
	--pbmit-body-typography-variant: regular;
	--pbmit-body-typography-font-size: 16px;
	--pbmit-body-typography-line-height: 26px;
	--pbmit-body-typography-color: #6e778c;
	
	--pbmit-heading-typography-font-family:'Sora', sans-serif;
	--pbmit-heading-color: #031b4e;
	--pbmit-heading-font-variant: 500;
	
	--pbmit-btn-typography-font-family:'Sora', sans-serif;
	--pbmit-btn-typography-variant: 500;
	--pbmit-btn-typography-font-size: 13px;
	--pbmit-btn-typography-line-height: 23px;
}