

:root {
	--pbmit-global-color: #00bde0;
	--pbmit-secondary-color: #135de8;
	--pbmit-light-color: #eff9ff;
	--pbmit-white-color: #ffffff;
	--pbmit-blackish-color: #031b4e;
	--pbmit-link-color-normal: #031b4e;
	--pbmit-link-color-hover: #00bde0;
	--pbmit-global-color-rgb: rgb(0, 189, 224);
	--pbmit-secondary-color-rgb: rgb(19, 93, 232);
	--pbmit-responsive-breakpoint: 1200px;

	--pbmit-body-typography-font-family:'Roboto', sans-serif;
	--pbmit-body-typography-variant: regular;
	--pbmit-body-typography-font-size: 16px;
	--pbmit-body-typography-line-height: 26px;
	--pbmit-body-typography-color: #6e778c;

	--pbmit-heading-typography-font-family:'Sora', sans-serif;
	--pbmit-heading-color: #031b4e;
	--pbmit-heading-font-variant: 500;
	
	--pbmit-btn-typography-font-family:'Sora', sans-serif;
	--pbmit-btn-typography-variant: 500;
	--pbmit-btn-typography-font-size: 13px;
	--pbmit-btn-typography-line-height: 23px;
}

