/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon_gastroenterology";
    src: url("../fonts/pbmit-xcare-gastroenterology-icon/flaticon_gastroenterology.woff2?eddadc362278e1abf35791787f0ffa8f") format("woff2"),
url("../fonts/pbmit-xcare-gastroenterology-icon/flaticon_gastroenterology.woff?eddadc362278e1abf35791787f0ffa8f") format("woff"),
url("../fonts/pbmit-xcare-gastroenterology-icon/flaticon_gastroenterology.eot?eddadc362278e1abf35791787f0ffa8f#iefix") format("embedded-opentype"),
url("../fonts/pbmit-xcare-gastroenterology-icon/flaticon_gastroenterology.ttf?eddadc362278e1abf35791787f0ffa8f") format("truetype"),
url("../fonts/pbmit-xcare-gastroenterology-icon/flaticon_gastroenterology.svg?eddadc362278e1abf35791787f0ffa8f#flaticon_gastroenterology") format("svg")
}

i[class^="pbmit-xcare-gastroenterology-icon-"]:before, i[class*=" pbmit-xcare-gastroenterology-icon-"]:before {
    font-family: flaticon_gastroenterology !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pbmit-xcare-gastroenterology-icon-stomach:before {
    content: "\f101";
}
.pbmit-xcare-gastroenterology-icon-colon:before {
    content: "\f102";
}
.pbmit-xcare-gastroenterology-icon-gastroenterologist:before {
    content: "\f103";
}
.pbmit-xcare-gastroenterology-icon-gastroenterologist-1:before {
    content: "\f104";
}
.pbmit-xcare-gastroenterology-icon-medicine:before {
    content: "\f105";
}
.pbmit-xcare-gastroenterology-icon-stomach-1:before {
    content: "\f106";
}
.pbmit-xcare-gastroenterology-icon-examination:before {
    content: "\f107";
}
.pbmit-xcare-gastroenterology-icon-surgery-room:before {
    content: "\f108";
}
.pbmit-xcare-gastroenterology-icon-probiotic:before {
    content: "\f109";
}
.pbmit-xcare-gastroenterology-icon-bacteria:before {
    content: "\f10a";
}
.pbmit-xcare-gastroenterology-icon-medicine-1:before {
    content: "\f10b";
}
.pbmit-xcare-gastroenterology-icon-ultrasound:before {
    content: "\f10c";
}
.pbmit-xcare-gastroenterology-icon-no-fast-food:before {
    content: "\f10d";
}
.pbmit-xcare-gastroenterology-icon-analysis:before {
    content: "\f10e";
}
.pbmit-xcare-gastroenterology-icon-pain:before {
    content: "\f10f";
}
.pbmit-xcare-gastroenterology-icon-stomach-2:before {
    content: "\f110";
}
.pbmit-xcare-gastroenterology-icon-hepatology:before {
    content: "\f111";
}
.pbmit-xcare-gastroenterology-icon-liver-cancer:before {
    content: "\f112";
}
.pbmit-xcare-gastroenterology-icon-fatty-liver:before {
    content: "\f113";
}
.pbmit-xcare-gastroenterology-icon-stomachache:before {
    content: "\f114";
}

